<!DOCTYPE html>
<html>
<head>
    <title>URL Shortener</title>
    <script>
        async function shortenUrl(event) {
            event.preventDefault();
            const url = document.getElementById("url").value;

            const response = await fetch("/shorten", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded"
                },
                body: "url=" + encodeURIComponent(url)
            });

            const shortId = await response.text();
            const shortUrl = window.location.origin + "/" + shortId;

            document.getElementById("result").innerHTML = 
		<p>Shortened URL: 
	    	<a href="https://url-shortener-b0d2.onrender.com/{{ shortId }}">
        	https://url-shortener-b0d2.onrender.com/{{ shortId }}
    </a>
</p>

        }
    </script>
</head>
<body>
    <h1>URL Shortener</h1>
    <form onsubmit="shortenUrl(event)">
        <label for="url">Enter URL:</label>
        <input type="text" id="url" name="url" required>
        <button type="submit">Shorten</button>
    </form>
    <div id="result"></div>
</body>
</html>
